
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');


body {
    margin: 0px;
    padding: 0px;
}

main {padding: 16px;
}

footer {
    font-size:24px;
    padding:40px, 0px
}

img {height:200px}

nav {
    border-bottom:1px solid black;
    padding: 16px;
}

a {
    text-decoration: none;
 }

nav {
    background-color: rgb(151, 160, 247);
    border-bottom: 5px solid rgb(27, 197, 197);
    box-shadow: 10px 5px 5px rgb(141, 98, 240);
}

nav a {
    font-size:24px;
    color: rgb(39, 1, 253);
}

.tacos a {

    font-size:24px;
    color: rgb(111, 13, 240);
    font-family: 'Amiri Quran', serif

}

.tacos div {
    font-family: 'Amiri Quran', serif;
    color: silver
}

.tacos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

h1 {
    font-family: 'Amiri Quran', serif;
    color: rgb(111, 13, 240);
    font-family: 'Amiri Quran', serif
}

h2 {
    font-family: 'Amiri Quran', serif;
}

tr:nth-of-type(even) {
    background-color: grey;
}
